[default]
# seedval:
# set value without quotation marks, e.g. rand, 1, 42, ...
#	'int' 	: sets seed to int
#	'rand'	: sets no seed (random)
# seed = 42
seed = rand
capacity = 1
simulation_duration = 1000
avg_interarrival_time = 10
service_time = 5

# This sets the Patience of the Process
# Patience 	= 0 --> drop queue
# 			> 0 --> Process enqueue in Resource and drop after generated Value
#			max --> never drop out
avg_patience = 7
# generator selection:
#	0: expovariate
#	1: randint
#	2: constant value
# ... more to come
interarrival_gen = 0
service_time_gen = 1
patience_gen = 0

# Be careful not to alter to many parameters at once...
# TODO: These advanced settings need to be implemented.
# !!! positive values required!
# 				 number_of_simulations 	=> e.g. 3 different experiments with different capacities, starting with predefined "capacity" (see above)
# number_of_repetitions_per_simulation 	=> e.g. 10 runs for each experiment
[advanced]
number_of_simulations = 4
number_of_repetitions_per_simulation = 15
alter_default_seed_by = 0
alter_interarrival_time_by = 0
alter_capacity_by = 0


